
c:
bin/*
\#*\#
*.bat
remove*
.#*
/midterm/devpkgzed/*
*.o
/ex29-project/build/libex29.a
/ex29-project/build/libex29.so
/ex29-project/tests/ex29_tests
core.*
*.log
*.a
*.so
*_tests
/liblcthw/hash.txt
